
.main1 {
    background-color: #f2f2f2;
    text-align: center;
    padding: 60px 20px;
    position: relative;
}
.main-image1 {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;   
}

.main-content {
    max-width: 600px;
    margin: 0 auto;
}

.why-choose {
    padding: 40px 20px;
    text-align: center;
}


.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.why-choose-us {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}

.our-services {
    /* display: flex; */
    justify-content: space-between;
}
.our-services h1{
    margin-left: 50px;
}
.service-head{
    margin-left: 40%;
    margin-bottom: 10px;
}
.service {
    background-color: rgb(241, 239, 239);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    
}
.services{
    display: flex;

}
.cta {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
}

.cta-button {
    background-color:#9e063b;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}
@media (max-width: 768px) {
    .logo-item img {
        width: 50%; 
    }
}
